<app-header></app-header>
<div id="admin-dashboard-container">
  <h2 id="dash-board-title">Admin Dashboard</h2>
  <div id="actions-scroll-container">
    <button id="scroll-left" class="scroll-arrow">&lt;</button>
    <div id="actions-container" #actionsContainer>
      <button
        [ngClass]="{ 'active-content': content === 1 }"
        (click)="onActionClick(1)"
        class="actions"
      >
        Show All Assets
      </button>
      <button
        [ngClass]="{ 'active-content': content === 2 }"
        (click)="onActionClick(2)"
        class="actions"
      >
        Show Available Assets
      </button>
      <button
        [ngClass]="{ 'active-content': content === 3 }"
        (click)="onActionClick(3)"
        class="actions"
      >
        Show Allocated Assets
      </button>
      <button
        [ngClass]="{ 'active-content': content === 4 }"
        (click)="onActionClick(4)"
        class="actions"
      >
        Add Asset
      </button>
      <button
        [ngClass]="{ 'active-content': content === 5 }"
        (click)="onActionClick(5)"
        class="actions"
      >
        Show All Admin
      </button>
      <button
        [ngClass]="{ 'active-content': content === 6 }"
        (click)="onActionClick(6)"
        class="actions"
      >
        Show All User
      </button>
      <button
        [ngClass]="{ 'active-content': content === 7 }"
        (click)="onActionClick(7)"
        class="actions"
      >
        Find User
      </button>
      <button
        [ngClass]="{ 'active-content': content === 8 }"
        (click)="onActionClick(8)"
        class="actions"
      >
        Find Admin by Id
      </button>
      <button
        [ngClass]="{ 'active-content': content === 9 }"
        (click)="onActionClick(9)"
        class="actions"
      >
        Asset Allocation Requests
      </button>
      <button
        [ngClass]="{ 'active-content': content === 10 }"
        (click)="onActionClick(10)"
        class="actions"
      >
        Show Asset Service Request
      </button>
    </div>
    <button id="scroll-right" class="scroll-arrow">&gt;</button>
  </div>

  <div id="content">
    <div *ngIf="content === 1" id="content-1" class="content">
      <app-material-table
        [dataSource]="dataSourceAll"
        [displayedColumns]="displayedColumns"
        [columnHeaders]="columnHeaders"
      ></app-material-table>
    </div>

    <div *ngIf="content === 2" id="content-2" class="content">
      <app-material-table
        [dataSource]="dataSourceAvailable"
        [displayedColumns]="displayedColumns"
        [columnHeaders]="columnHeaders"
      ></app-material-table>
    </div>

    <div *ngIf="content === 3" id="content-3" class="content">
      <app-material-table
        [dataSource]="dataSourceAllocated"
        [displayedColumns]="displayedColumns"
        [columnHeaders]="columnHeaders"
      ></app-material-table>
    </div>
    <div *ngIf="content === 4" id="content-4" class="content">
      <div class="addasset-container">
        <form id="addassetForm" (submit)="addAsset()">
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="assetName"
              >Asset Name<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.assetName"
              type="text"
              id="assetName"
              name="assetName"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="lastname"
              >Asset Category<span class="required">*</span></label
            >
            <select
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.assetCategory"
              id="assetCategory"
              name="assetCategory"
              required
            >
              <option>Laptop</option>
              <option>Furniture</option>
              <option>Gadgets</option>
              <option>Car</option>
            </select>
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="assetModel"
              >Model<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.assetModel"
              type="text"
              id="assetModel"
              name="assetModel"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="assetDescription"
              >Description<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.assetDescription"
              type="text"
              id="assetDescription"
              name="assetDescription"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="assetValue"
              >Value<span class="required">*</span></label
            >
            <input
              type="number"
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.assetValue"
              id="assetValue"
              name="assetValue"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="manufacturingDate"
              >Manufacturing Date<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.manufacturingDate"
              type="date"
              id="manufacturingDate"
              name="manufacturingDate"
              [max]="maxDate"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="expiryDate"
              >Expiring Date<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.expiryDate"
              type="date"
              id="expiryDate"
              name="expiryDate"
              required
            />
          </div>
          <div class="input-group-addasset">
            <label class="addasset-field-labels" for="imageUrl"
              >Image Url<span class="required">*</span></label
            >
            <input
              class="addasset-fields"
              [(ngModel)]="addAssetsForm.imageUrl"
              type="text"
              id="imageUrl"
              name="imageUrl"
              required
            />
          </div>
          <button id="addasset-btn" type="submit">Save Asset</button>
        </form>
      </div>
    </div>
    <div *ngIf="content === 5" id="content-5" class="content">
      <app-material-table
        [dataSource]="adminResult"
        [displayedColumns]="[
          'adminId',
          'firstName',
          'lastName',
          'phoneno',
          'email',
          'address',
          'status'
        ]"
        [columnHeaders]="{
          'adminId':'Id',
          'firstName':'First Name',
          'lastName':'Last Name',
          'phoneno':'Phone Number',
          'email':'Email',
          'address':'Address',
          'status':'Status',
        }"
      ></app-material-table>
    </div>
    <div *ngIf="content === 6" id="content-6" class="content">
      <app-material-table
        [dataSource]="searchResult"
        [displayedColumns]="[
          'userId',
          'firstName',
          'lastName',
          'phoneno',
          'email',
          'status'
        ]"
        [columnHeaders]="{
            'userId':'Id',
            'firstName':'First Name',
            'lastName':'Last Name',
            'phoneno':'Phone Number',
            'email':'Email Id',
            'status':'Id',
            }"
      ></app-material-table>
    </div>
    <div *ngIf="content === 7" id="content-7" class="content">
      <div style="width: 100%; height: 100%">
        <form class="search-bar-container">
          <input
            [(ngModel)]="searchFormUser.id"
            type="text"
            class="addasset-fields"
            id="searchbyid"
            name="searchbyid"
            placeholder="User Id"
            [disabled]="searchFormUser.email.length > 0"
            (input)="onInputChange('id')"
          />
          <input
            [(ngModel)]="searchFormUser.email"
            type="text"
            class="addasset-fields"
            id="searchbyemail"
            name="searchbyemail"
            placeholder="User Email"
            [disabled]="searchFormUser.id.length > 0"
            (input)="onInputChange('email')"
          />
          <button
            style="background-color: #ffcc00"
            mat-icon-button
            (click)="search()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            style="background-color: #ffcc00"
            mat-icon-button
            (click)="clear()"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </form>
        <app-material-table
          [dataSource]="searchResult"
          [displayedColumns]="[
            'userId',
            'firstName',
            'lastName',
            'phoneno',
            'email',
            'status'
          ]"
          [columnHeaders]="{
            'userId':'Id',
            'firstName':'First Name',
            'lastName':'Last Name',
            'phoneno':'Phone Number',
            'email':'Email Id',
            'status':'Id',
            }"
        ></app-material-table>
      </div>
    </div>
    <div *ngIf="content === 8" id="content-8" class="content">
      <div style="width: 100%; height: 100%">
        <form class="search-bar-container">
          <input
            [(ngModel)]="searchFormAdmin.id"
            type="text"
            class="addasset-fields"
            id="searchbyid"
            name="searchbyid"
            placeholder="User Id"
          />
          <button
            style="background-color: #ffcc00"
            mat-icon-button
            (click)="searchAdmin()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            style="background-color: #ffcc00"
            mat-icon-button
            (click)="clear()"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </form>
        <app-material-table
          [dataSource]="adminResult"
          [displayedColumns]="[
            'adminId',
            'firstName',
            'lastName',
            'phoneno',
            'email',
            'status'
          ]"
          [columnHeaders]="{
          'adminId':'Id',
          'firstName':'First Name',
          'lastName':'Last Name',
          'phoneno':'Phone Number',
          'email':'Email',
          'status':'Status',
        }"
        ></app-material-table>
      </div>
    </div>
    <div *ngIf="content === 9" id="content-9" class="content">
      <app-material-table
        [dataSource]="dataSourceAllocated"
        [displayedColumns]="displayedColumns"
        [columnHeaders]="columnHeaders"
      ></app-material-table>
    </div>
  </div>
</div>
