<div class="login-container">
  <div class="select-box-container">
    <label for="user-role">Role:</label>
    <select id="user-role" name="userRole" [(ngModel)]="selectedRole">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
  </div>
  <h1 id="login-title">Sign In</h1>
  <form id="loginForm" (submit)="login()">
    <div class="input-group-login">
      <label class="login-field-labels" for="username"
        >Username<span class="required">*</span></label
      >
      <input
        class="login-fields"
        [(ngModel)]="credentials.username"
        type="text"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="input-group-login">
      <label class="login-field-labels" for="password"
        >Password<span class="required">*</span></label
      >
      <input
        class="login-fields"
        [(ngModel)]="credentials.password"
        type="password"
        id="password"
        name="password"
        required
      />
    </div>
    <button id="login-btn" type="submit">Sign In</button>
    <p>New User? <a routerLink="/register">Sign Up</a></p>
  </form>
</div>
